body {
    font-size: 16px;
    font-family: 'Roboto';
}
.top {
    margin-top: 20px;
    margin-bottom: 25px;
}
.counter {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image:url('../img/background.jpg');
    background-repeat:no-repeat;
    background-position:center;
    height: auto;
    text-align: center;
    color: #fff;
    
}
.patroni {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    
}

.txtCounter {
    font-size: 2rem;
}
.sumCounter {
    font-size: 4.5rem;
    text-shadow: 3px 3px 6px #000;
    font-family: 'Bangers', cursive;
    letter-spacing: .2em;
   
}

.patronat1 img {
    height: 90px;
    
}

.sb {height: 42px;}
.tbs {height: 70px;}
.mosir {height: 70px;}

.patronat1 span {
    font-size: 0.85rem;
    vertical-align: top;
    width: 50px;
    display: inline-flex;
    text-align: left;
    padding-left: 5px;
    padding-top: 10px;
    line-height: 1rem;
    font-weight: bold;
}
.footer {
    background:#f5f5f5;
    padding-top: 30px;
    padding-bottom: 10px;
    
}
.infinity {
    height: 90px;
}
.top p {
    font-size: 1rem;
    font-weight: bold;
}
.footer h4 {
    font-size: 1rem;
    font-weight: bold;
}
.footer p {
    font-size: 0.9rem;

}