<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;"">
    <span class=" navbar-brand mb-0 h1">WOŚP - licznik</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Glówna</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  Puszki
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="{{ url_for('puszki_wydanie') }}">Zarządzanie puszkami</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('puszki') }}">Liczone puszki</a>
                    </li>
                </ul>
            </li>
        
            {% if current_user.super_user %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  Administracja
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="{{ url_for('lista_puszek') }}">Wszystkie puszki</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('register') }}">Dodaj użytkownika</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('user_list') }}">Lista użytkownikow</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto   ">
            <span class="navbar-text">Użytkownik: </span>
            <li>
                <a class="nav-link"
                    href="{{ url_for('user_pass', username=current_user.username) }}">{{ current_user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{  url_for('logout') }}">Wyloguj</a>
            </li>
        </ul>
    </div>

</nav>