<html>

<head>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>WOŚÞ - Licznik zbrórki</title>
  {% endif %}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>28 finał WOŚP - ZGIERZ</h2>
            <p class="lead">Policzona kwota</p>
            <h4>{{ "%.2f"|format(licznik) }} zł</h4>
        </div>
    </div>
</div>
</body>

</html>