<!doctype html>
<html lang="pl">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WOŚP Zgierz - Licznik zebranych środków - relacja LIVE</title>
	<meta name="title" content="WOŚP">
    <meta name="description" content="Licznik WOŚP w Zgierzu">
    <meta http-equiv="refresh" content="60">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:title" content="WOŚP">
	<meta property="og:description" content="opis">
	<meta property="og:image" content="">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="/">
	<meta property="twitter:title" content="WOŚP">
	<meta property="twitter:description" content="opis">
	<meta property="twitter:image" content="">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<!--<script src="{{ url_for('static', filename='js/counter.js') }}" type="text/javascript"></script>-->
	<link href="https://fonts.googleapis.com/css?family=Bangers&amp;display=swap" rel="stylesheet">
</head>

<body>
	<section class="top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 text-center p-2"> <img src="{{ url_for('static', filename='img/final.jpg') }}" alt="Wielka Orkierstra Świątecznej Pomocy - 29 Finał - 2021"> </div>
				<div class="col-xs-12 col-sm-4 text-center p-2">
					<p>Partner technologiczny</p> <img class="infinity" src="{{ url_for('static', filename='img/infinityloop.jpg') }}" alt="InfinityLoop - strony internetowe dla firm i instytucji"> </div>
				<div class="col-xs-12 col-sm-4 text-center"> <img src="{{ url_for('static', filename='img/finlogo.jpg') }}" alt=".Wielka Orkierstra Świątecznej Pomocy - 29 Finał - 2021"> </div>
			</div>
		</div>
	</section>
	<section class="counter w-100">
		<div class="container bgCounter">
			<div class="row">
				<div class="col-sm-12 ">
					<h1 class="txtCounter">Do tej pory zebraliśmy dzięki Wam:</h1>
					<br />
					<h2 class="sumCounter"><span class="sumDigit">{{ "%.2f"|format(licznik) }}</span> zł</h2> </div>
			</div>
		</div>
	</section>
	<section class="patroni">
		<div class="container">
			<div class="row patronat1">
				<div class="col-sm-4 p-2"> <img src="{{ url_for('static', filename='img/powiat.jpg') }}" alt="Starostwo Powiatowe w Zgierzu"> <span>Starostwo Powiatowe w Zgierzu</span> </div>
				<div class="col-sm-4 p-2"> <img src="{{ url_for('static', filename='img/zgierz.jpg') }}" alt="Miasto Zgierz"> </div>
				<div class="col-sm-4 p-2"> <img src="{{ url_for('static', filename='img/sps.jpg') }}" alt="SPS Stowarzyszenie Przemysława Staniszewskiego">  </div>
			</div>
			<div class="row patronat2">
				<div class="col-lg-4 col-md-6 col-sm-6 p-4"> <img src="{{ url_for('static', filename='img/spec_budowa.jpg') }}" class="sb" alt="SpecBudowa"> </div>
				<div class="col-lg-4 col-md-6 col-sm-6 p-4"> <img src="{{ url_for('static', filename='img/mosir.png') }}" class="mosir" alt="Miejski Ośrodek Sportu i Rekreacji w Zgierzu"> </div>
				<div class="col-lg-4 col-md-6 col-sm-6 p-4"> <img src="{{ url_for('static', filename='img/tbs_logo.jpg') }}" class="tbs" alt="Towarzystwo Budownictwa Społecznego w Zgierzu"> </div>
			</div>
		</div>
	</section>
	<section class="footer">
		<div class="container">
			<div class="row">
				<div class="col">
                    <h4>Informacja o stronie</h4>
                    <p>Informacja - tekst - o co chodzi na tej stronie...</p>
                </div>
			</div>
		</div>
	</section>
</body>

</html>