{% extends "index.html" %}

{% block content %}
<div class="jumbotron">
        <p class="lead">Policzona kwota</p>
    <h1 class="display-4">{{ "%.2f"|format(licznik) }} zł</h1>
    
 </div>


{% endblock %}