{% extends "index.html" %}


{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %}
{% endif %}
{% endwith %}

<form actio="" method="post" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Logowanie do systemu</h1>
    {{ form.hidden_tag() }}
    {{ form.username.label(class="sr-only") }}
    {{ form.username(size=32, 
        placeholder=form.username.label.text,
        class="form-control"
        ) }}

    {{ form.password.label(class="sr-only") }}
    {{ form.password(size=32,
        placeholder=form.password.label.text,
        class="form-control"
        ) }}

    {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
</form>

{% endblock %}