{% extends "index.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="row justify-content-md-center">
  <div class="col col-md-6 mt-5">
    <h1 class="h3 mb-3 font-weight-normal">Puszki do liczenia.</h1>
  </div>
</div>
<input type="text" class="form-control" id="search" placeholder="Wpisz nr puszki">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nr puszki</th>
      <th scope="col">Kwota policzona</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    {% for puszka in puszki %}
    <tr class="wiersz">
      <td class="align-middle">{{ puszka.numer }}
      </td>
      <td class="align-middle">{{ "%.2f"|format(puszka.get_sum()) }}</td>
      <td class="align-middle">
        <a href="{{ url_for('puszka', id=puszka.id) }}">
          <button type="button" class="btn btn-danger btn-sm">
            {% if puszka.zatwierdzona %}
            Podgląd
            {% else %}
            Edycja
            {% endif %}
          </button>
          {% if puszka.zatwierdzona %}
          <a href="{{ url_for('drukuj_puszke', id=puszka.id) }}" target="_blank">
            <button type="button" class="btn btn-primary btn-sm">
              Wydruk podsumowania
            </button>
          </a>
          <a href="{{ url_for('drukuj_puszke_prosty', id=puszka.id) }}" target="_blank">
              <button type="button" class="btn bg-success btn-sm">
               Wydruk prosty
              </button>
          </a>
          {% endif %}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  $(document).ready(function(){
    $('.wiersz').hide();
    $('#search').keyup(function(){
      console.log('key');
 
      // Search text
      var text = $(this).val();
 
      // Hide all content class element
      $('.wiersz').hide();

      // Search and show
      $('.wiersz:contains("'+text+'")').show();
 
    });
  });
</script>
{% endblock %}