{% extends "index.html" %}

{% block content %}
<div class="row justify-content-md-center">
            <h2 class="d-inline p-2">
                (Zatwierdzona) Kwota policzona: {{ "%.2f"|format(puszka.get_sum()) }} zł
            </h2>
                        {% if puszka.zatwierdzona %}
            <a href="{{ url_for('drukuj_puszke', id=puszka.id) }}" target="_blank">
              <button type="button" class="btn btn-success">
               Wydruk podsumowania
              </button>
            </a>
            {% endif %}
</div>
<div class="row justify-content-md-center">
    <h3>
        Liczył : {{ puszka.user.username }}
    </h3>
</div>

<div class="row justify-content-md-center">
    <div class="col col-md-8 mt-5">
        <form action="" method="post">
            <div class="input-group mb-3">
                 <div class="input-group-prepend">

                {{ nazwa_puszki.numer.label(class="input-group-text") }}
                 </div>
                {{ nazwa_puszki.numer (class="form-control col-9") }}
                <div class="input-group-append">
                </div>
            </div>
        </form>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nominal</th>
            <th scope="col">Liczba szt.</th>
            <th scope="col">Suma</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for pozycja in pozycje %}
        <tr>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ wiersz_form.id(value=pozycja.id) }}
                <td class="align-middle">
                {% if pozycja.nominal < 1 %}
                    {{ "%.2f"|format(pozycja.nominal) }}
                {% else %}
                    {{ "%.0f"|format(pozycja.nominal) }}
                {% endif %}
                </td>

                <td class="align-middle">{{ wiersz_form.liczba(value=pozycja.liczba, class="form-control col-3") }}</td>
                <td class="align-middle">{{ "%.2f"|format(pozycja.get_sum()) }}</td>
                <td class="align-middle">

                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}