{% extends "index.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="row justify-content-md-center">
    <div class="col col-md-6 mt-5">
        <h1 class="h3 mb-3 font-weight-normal">Zarządzanie puszkami</h1>
        {% if current_user.super_user %}
            <hr>
            <p>Dodaj nową puszkę</p>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.numer.label() }}
                {{ form.numer(size=32, class="form-control") }}
                <div>
                    {{ form.submit(class="btn btn-lg btn-primary mt-2") }}
                </div>
            </form>
        {% endif %}
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col col-md-6 mt-5">
        {% if current_user.wydanie_puszki or current_user.super_user %}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="wydanie-tab" data-toggle="tab" href="#wydanie" role="tab" aria-controls="wydanie"
                    aria-selected="true">
                    Wydawanie</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="przyjecie-tab" data-toggle="tab" href="#przyjecie" role="tab"
                    aria-controls="przyjecie" aria-selected="false">Przyjmowanie</a>
            </li>
        </ul>
        {% else %}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="przyjecie-tab" data-toggle="tab" href="#przyjecie" role="tab"
                    aria-controls="przyjecie" aria-selected="true">Przyjmowanie</a>
            </li>
        </ul>
        {% endif %}
        
        <div class="tab-content" id="myTabContent">
            <input type="text" class="form-control" id="search" placeholder="Wpisz nr puszki">
            {% if current_user.wydanie_puszki or current_user.super_user %}
            <div class="tab-pane fade show active" id="wydanie" role="tabpanel" aria-labelledby="wydanie-tab">
                <ul class="list-group">
                    {% for puszka in puszki %}
                    {% if puszka.wydana == 0 %}
                    <div class="wiersz">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ puszka.numer }}</span>

                        <a href="{{ url_for('drukuj_puszke_wydanie', id=puszka.id) }}" target="_blank">
                            <button type="button" class="btn btn-info btn-sm">
                                Wydruk wydania
                            </button>
                        </a>
                        <a href="{{ url_for('wydana_puszka', id=puszka.id, opcja=1) }}">
                            <button type="button" class="btn btn-danger btn-sm">
                                Wydaj
                            </button>
                        </a>

                    </li>
                    </div>
                    {% endif %}
                    {% endfor %}
                </ul>

            </div>
            {% endif %}

            {% if current_user.wydanie_puszki or current_user.super_user %}
            <div class="tab-pane fade" id="przyjecie" role="tabpanel" aria-labelledby="przyjecie-tab">
            {% else %}
            <div class="tab-pane fade show active" id="przyjecie" role="tabpanel" aria-labelledby="przyjecie-tab">
            {% endif %}
                <ul class="list-group">
                    {% for puszka in puszki %}
                    {% if puszka.wydana == 1 %}
                    <div class="wiersz">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ puszka.numer }}</span>
                        {% if current_user.super_user %}
                        <a href="{{ url_for('drukuj_puszke_wydanie', id=puszka.id) }}" target="_blank">
                            <button type="button" class="btn btn-info btn-sm">
                                Wydruk wydania
                            </button>
                        </a>
                        {% endif %}
                        <a href="{{ url_for('wydana_puszka', id=puszka.id, opcja=2) }}">
                            <button type="button" class="btn btn-danger btn-sm">
                                Przyjmij do liczenia
                            </button>
                        </a>
                    </li>
                    </div>
                    {% endif %}
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>
<script>
        function openInNewTab(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }
    $(document).ready(function(){
        
        $('.wiersz').hide();
        $('#search').keyup(function(){
        console.log('key');
   
        // Search text
        var text = $(this).val();
        // Hide all content class element
        $('.wiersz').hide();
        // Search and show
        let finds = $('.wiersz:contains(' + text + ')');

        finds.each(function(){
            console.log('text = ' + text.length)
            if ($(this).find('span').text().length === text.length) {
                $(this).show();
            }
        });
   
      });

        
    });
  </script>
{% endblock %}