{% extends "index.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="row justify-content-md-center">
    <form action="" method="post">
        <h2 class="d-inline p-2">
            Kwota policzona: {{ "%.2f"|format(puszka.get_sum()) }} zł
        </h2>
        {{ nazwa_puszki.zatwierdz(class="btn btn-danger d-inline p-2") }}
        {% if puszka.zatwierdzona %}
        <a href="{{ url_for('drukuj_puszke', id=puszka.id) }}" target="_blank">
            <button type="button" class="btn btn-primary">
                Wydruk podsumowania
            </button>
        </a>
        <a href="{{ url_for('drukuj_puszke_prosty', id=puszka.id) }}" target="_blank">
            <button type="button" class="btn bg-success">
            Wydruk prosty
            </button>
        </a>
        {% endif %}
    </form>

</div>

<div class="row justify-content-md-center">
    <div class="col col-md-8 mt-5">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="input-group mb-3">
                <div class="input-group-prepend">

                    {{ nazwa_puszki.numer.label(class="input-group-text") }}
                </div>
                {{ nazwa_puszki.numer (class="form-control col-6") }}
                {% if current_user.super_user %}
                <div class="input-group-append">
                    {{ nazwa_puszki.liczacy (class="custom-select") }}
                </div>
                <div class=" input-group-append">
                    {{ nazwa_puszki.zmien_numer(class="btn btn-primary") }}
                </div>
                {% endif %}

            </div>
            <div class="mt-5">
                {{ nazwa_puszki.extra_field.label() }}
                {{ nazwa_puszki.extra_field (class="form-control") }}
                {{ nazwa_puszki.extra_save(class="btn btn-primary float-right") }}
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col col-md-8 mt-5">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group row">
                {{ form.nominal.label(class="col-2 text-right") }}
                {{ form.nominal(class="form-control col-2") }}
                {{ form.liczba.label(class="col-3 text-right") }}
                {{ form.liczba(class="form-control col-2") }}
                {{ form.submit(class="btn btn-primary") }}
            </div>

        </form>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nominal</th>
            <th scope="col">Liczba szt.</th>
            <th scope="col">Suma</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for pozycja in pozycje %}
        <tr>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ wiersz_form.id(value=pozycja.id) }}
                <td class="align-middle">
                    {% if pozycja.nominal < 1 %}
                    {{ "%.2f"|format(pozycja.nominal) }}
                    {% else %}
                    {{ "%.0f"|format(pozycja.nominal) }}
                    {% endif %}
                </td>

                <td class="align-middle">{{ wiersz_form.liczba(value=pozycja.liczba, class="form-control col-3") }}</td>
                <td class="align-middle">{{ "%.2f"|format(pozycja.get_sum()) }}</td>
                <td class="align-middle">
                    {{ wiersz_form.zapisz_wiersz(class="btn btn-primary") }}
                    <a class="btn btn-danger" href="{{ url_for('pozycja_usun', id=puszka.id, pozycja=pozycja.id) }}">Usuń</a>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}