{% extends "index.html" %}

{% block content %}
    <div class="row justify-content-md-center">
        <h1>
            Lista liczących
        </h1>
    </div>
<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nazwa uzytkowika</th>
            <th scope="col">Kwota policzona</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>

{% for user in users %}
<tr>
        <td class="align-middle">{{ user.username }} 
            {% if user.super_user %}
                <span> ADM </span>
            {% endif %}
            {% if user.inactive_user %}
            <span><b> - Zablokowany</b></span>
            {% endif %}

        </td>
        <td class="align-middle">{{ "%.2f"|format(user.get_sum()) }} zł</td>
        <td class="align-middle">
            <a href="{{  url_for('user', username=user.username)}}">
                <button type="button" class="btn btn-danger btn-sm">Edytuj
                </button>
            </a>

            <a href="{{ url_for('user_lista_puszek', id=user.id) }}">
                <button type="button" class="btn btn-secondary btn-sm">Lista puszek
                </button>
            </a>
        </td>
      </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}