{% extends "index.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
{% for error in form.password2.errors %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
{% endfor %}

<div class="row justify-content-md-center">

    <div class="col col-md-6 mt-5">
        <h1 class="h3 mb-3 font-weight-normal">Zmiana hasła</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.username() }}

            {{ form.old_pass.label(class="sr-only") }}
            {{ form.old_pass(size=32, 
                placeholder=form.old_pass.label.text,
                class="form-control"
                ) }}

            {{ form.password.label(class="sr-only") }}
            {{ form.password(size=32, 
                placeholder=form.password.label.text,
                class="form-control"
            ) }}

            {{ form.password2.label(class="sr-only") }}
            {{ form.password2(size=32, 
                placeholder=form.password2.label.text,
                class="form-control"
            ) }}
            <div>
                {{ form.submit(class="btn btn-lg btn-primary mt-2") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}