{% extends "index.html" %}

{% block content %}
<div class="row justify-content-md-center">

    <div class="col col-md-6 mt-5">
        <h1 class="h3 mb-3 font-weight-normal">Puszki użytkownika: {{ user.username }}</h1>
    </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nr puszki</th>
      <th scope="col">Kwota policzona</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    {% for puszka in puszki %}
    <tr>
      <td class="align-middle">
        {{ puszka.numer }}
        {% if puszka.zatwierdzona %}
         - Zatwierdzona
        {% endif %}
      </td>
      <td class="align-middle">{{ "%.2f"|format(puszka.get_sum()) }}</td>
      <td class="align-middle">
        <a href="{{ url_for('puszka', id=puszka.id) }}">
          <button type="button" class="btn btn-danger btn-sm">Edycja
          </button>
        </a>
        {% if puszka.zatwierdzona %}
            <a href="{{ url_for('drukuj_puszke', id=puszka.id) }}" target="_blank">
              <button type="button" class="btn btn-primary btn-sm">
               Wydruk podsumowania
              </button>
            </a>
            {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}