{% extends "index.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %}
{% endif %}
{% endwith %}

<div class="row justify-content-md-center">

    <div class="col col-md-6 mt-5">
        <h1 class="h3 mb-3 font-weight-normal">Edytuj użytkownika</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.username.label(class="sr-only") }}
            {{ form.username(size=32, 
        placeholder=form.username.label.text,
        class="form-control"
        ) }}
            {{ form.super_user() }} {{ form.super_user.label }}<br>
            {{ form.inactive_user() }} {{ form.inactive_user.label }}<br>
            {{ form.wydanie_puszki() }} {{ form.wydanie_puszki.label }}

            {{ form.password.label(class="sr-only") }}
            {{ form.password(size=32,
        placeholder=form.password.label.text,
        class="form-control"
        ) }}

            {{ form.password2.label(class="sr-only") }}
            {{ form.password2(size=32,
        placeholder=form.password2.label.text,
        class="form-control mt-2"
        ) }}
            <div>
            {{ form.submit(class="btn btn-lg btn-primary mt-2") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}