<html>

<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>WOŚÞ - Licznik zbrórki</title>
    {% endif %}

    {% if request.path == url_for('login') %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}">
</head>

<body>
<img src="{{ url_for('static', filename='img/wosp_logo.jpg') }}" class="float-right">
<div style="height: 50px"></div>
<div class="container">

    <div class="row justify-content-md-center">
        <h1>
            29 FINAŁ WOŚP SZTAB ZGIERZ
        </h1>
    </div>
        <div class="row justify-content-md-center">
            <h2>Wydanie puszki</h2>
    </div>
    <div class="row justify-content-md-center mt-4 mb-4">
        <h2>
            Nr puszki: {{ puszka.numer }}
        </h2>
    </div>
    
    <div class="row justify-content-md-center mt-5">
        <p>
           Odebrał: ....................................
        </p>
    </div>
</div>

</body>

</html>