<html>

<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>WOŚÞ - Licznik zbrórki</title>
    {% endif %}

    {% if request.path == url_for('login') %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}">
</head>

<body>
<img src="{{ url_for('static', filename='img/wosp_logo.jpg') }}" class="float-right">
<div style="height: 50px"></div>
<div class="container">

    <div class="row justify-content-md-center">
        <h1>
            29 FINAŁ WOŚP SZTAB ZGIERZ
        </h1>
    </div>
    <div class="row justify-content-md-center mt-4 mb-5">
        <h2>
            Wolontariusz : {{ puszka.numer }}
        </h2>
    </div>
    <div class="row justify-content-md-center">
        <h3 class="d-inline p-2">
            Zebrana Kwota: {{ "%.2f"|format(puszka.get_sum()) }} zł
        </h3>
    </div>

    <div class="row justify-content-md-center">
        <p>
            Liczył : {{ puszka.user.username }}
        </p>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nominal</th>
            <th scope="col">Liczba szt.</th>
            <th scope="col">Suma</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for pozycja in pozycje %}
            {% if pozycja[1] > 0 %}
            <tr>
                <form action="" method="post">
                    <td class="align-middle">
                    {% if pozycja[0] < 1 %}
                        {{ "%.2f"|format(pozycja[0]) }}
                    {% else %}
                        {{ "%.0f"|format(pozycja[0]) }}
                    {% endif %}
                    </td>

                    <td class="align-middle">{{ pozycja[1] }}</td>
                    <td class="align-middle">
                        {% if pozycja[0] < 1 %}
                            {{ "%.2f"|format(pozycja[0] * pozycja[1]) }}
                        {% else %}
                            {{ "%.0f"|format(pozycja[0] * pozycja[1]) }}
                        {% endif %}
                    </td>
                    <td class="align-middle">

                    </td>
                </form>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% if puszka.extra_field != '' %}
    <div class="container">
    Dodatkowe informacje:
    <pre>{{ puszka.extra_field }}</pre>
    </div>
{% endif %}
    
    <div class="row justify-content-md-center mt-5">
        <p>
           Podpis: ....................................
        </p>
    </div>

</body>

</html>